{% extends 'main/base.html' %}


<!--{% block content %}-->

<!--<div class="col-lg-6 col-6 text-left">-->
<!--                <form method="get" action="{% url 'shop_list:shoplist' %}">-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" name="query" class="form-control" placeholder="Search for products">-->
<!--                        <div class="input-group-append">-->
<!--                            <span class="input-group-text bg-transparent text-primary">-->
<!--                                <button type="submit"><i class="fa fa-search"></i></button>-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->


<!--{% endblock content %}-->